<h1 class="title">
  <span class="title__label">
    Dashboard
  </span>
</h1>

<section class="dashboard">
  <div class="dashboard__panel open__issues">
    <div class="issues--count" data-test-open-issue-count>
      {{openIssuesCount}} open issues
    </div>
  </div>

    <div class="dashboard__panel">
     <span>
      {{>gauge percentage=lowSeverityPercentage class="low" title="Low"}}
      {{>gauge percentage=mediumSeverityPercentage class="medium" title="Medium"}}
      {{>gauge percentage=highSeverityPercentage class="high" title="High"}}
      </span>
    </div>

  </span>
</section>
